.list{
  padding: 10px;
  margin-top: 10px;

}
.listItem{
  
  list-style-type: none;
  border: 1px solid #ccc;
  font-size: 24px;
  padding-left: 5px;
  margin-top: 10px;
  padding: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  justify-content: center;
  position:relative
}
.overflowDiv{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  height:100vh;
  word-wrap: break-word;
}
.deleteButton{
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 18px;
  transition: 0.2s;
  cursor: pointer;
}
.editButton{
  position: absolute;
  bottom: 5px;
  right: 30px;
  background: none;
  border: none;
  font-size: 18px;
  transition: 0.2s;
  cursor: pointer;
}
.deleteButton:hover{
  color: red;
}
.editButton:hover{
  color:dodgerblue;
}
.dialogBox{
  z-index: 1;
  flex-direction: column;
  position:absolute;
  top: 80px;
  left: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  }
.dialogBoxInput{
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
  display: flex;
  width: 30vw;
  
}
.dialogBox button{
  margin-top: 10px;
  margin-right: 3px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: 0.2s;
}
.saveButton:hover{
  color:green;
}
.closeButton:hover{
  color:red
}
.statusCheckBox{
  margin-left: 10px;
}